<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Natours API
    include style
  body
    .info-card
      .info-card__content
        <img class="welcome-image" src="/images/success.svg" alt="Lost man with map">
        h1 Welcome to Natours API
        h2 please look at the docs
        <a target="__blank" class="btn btn--green btn--small" href="https://documenter.getpostman.com/view/3368772/SzS1U9C2?version=latest#103ba296-d5cb-4757-b6d0-737050609f3a">Documentation</a>

